@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'font';
  src: url('./assets/font.woff') format('woff');
}
@font-face {
  font-family: 'body';
  src: url('./assets/body.ttf') format('ttf');
}
body {
  margin: 0;
  font-family: 'font', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
